{% extends 'base.html' %}

{% block content %}
<h1>Ver Empleados</h1>
<table>
    <thead>
        <tr>
            <th>ID Empleado</th>
            <th>Nombre</th>
            <th>Puesto</th>
            <th>Salario</th>
            <th>Disponible</th>
            <th>Fecha Contratación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleados %}
        <tr>
            <td>{{ empleado.id_empleado }}</td>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.puesto }}</td>
            <td>{{ empleado.salario }}</td>
            <td>{{ empleado.disponible|yesno:"Sí,No" }}</td>
            <td>{{ empleado.fecha_contratacion }}</td>
            <td>
                <a href="{% url 'actualizar_empleado' empleado.pk %}" class="btn btn-edit">Editar</a>
                <a href="{% url 'borrar_empleado' empleado.pk %}" class="btn btn-delete">Borrar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
